<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<title></title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="board">
		<div class="board_wrap">
			<div class="user1_board">
				<p>User 1</p>
				<div class="user1_sum">0</div>
				<ul></ul>
			</div>
			<div class="user2_board">
				<p>User 2</p>
				<div class="user2_sum">0</div>
				<ul></ul>
			</div>
		</div>
	</div>
	<div class="round">
		<p>1</p>
	</div>
	<div class="wrapper">
		<div class="panel" id="panel_1">
			<div class="main_wrap">
				<div class="left_panel">
					<div class="score_card" id="score_card_1">
						<p class="user_name" id="user_name_1">User 1</p>
						<div class="score_wrap">
							<div class="user1_score">
								<p>301</p>
								<div class="user1_minus">-0</div>
							</div>
						</div>
					</div>
					<div class="data_card" id="data_card_1">
						<div>Rate of Winning: <span></span></div>
						<div>Min Round of Winning: <span></span></div>
						<div>Avg Round of Winning: <span></span></div>
						<div>Max Score of 3 Darts: <span></span></div>
						<div>Avg Score of 3 Darts: <span></span></div>
						<div>Double: <span></span></div>
						<div>Triple: <span></span></div>
						<div>Missed: <span></span></div>
						<div>Bust: <span></span></div>
						<div>Bullseye: <span></span></div>
						<div>Single: <span></span></div>
					</div>
				</div>
				<div class="history_card" id="history_card_1">
					<div class="label">
						<p>Round</p>
						<p>Score</p>
					</div>
					<div class="scroll">
						<div class="user1_his_round"><ul></ul></div>
						<div class="user1_his_score"><ul></ul></div>
					</div>
				</div>
			</div>
			<div class="input_wrap">
				<input type="number" class="user1_input"></input>
				<div class="user1_submit" id="user1_submit_1">x1</div>
				<div class="user1_submit" id="user1_submit_2">x2</div>
				<div class="user1_submit" id="user1_submit_3">x3</div>
			</div>
		</div>
		<div class="panel" id="panel_2">
			<div class="main_wrap">
				<div class="left_panel">
					<div class="score_card" id="score_card_2">
						<p class="user_name" id="user_name_2">User 2</p>
						<div class="score_wrap">
							<div class="user2_score">
								<p>301</p>
								<div class="user2_minus">-0</div>
							</div>
						</div>
					</div>
					<div class="data_card" id="data_card_2">
						<div>Rate of Winning: <span></span></div>
						<div>Min Round of Winning: <span></span></div>
						<div>Avg Round of Winning: <span></span></div>
						<div>Max Score of 3 Darts: <span></span></div>
						<div>Avg Score of 3 Darts: <span></span></div>
						<div>Double: <span></span></div>
						<div>Triple: <span></span></div>
						<div>Missed: <span></span></div>
						<div>Bust: <span></span></div>
						<div>Bullseye: <span></span></div>
						<div>Single: <span></span></div>
					</div>
				</div>
				<div class="history_card" id="history_card_2">
					<div class="label">
						<p>Round</p>
						<p>Score</p>
					</div>
					<div class="scroll">
						<div class="user2_his_round"><ul></ul></div>
						<div class="user2_his_score"><ul></ul></div>
					</div>
				</div>
			</div>
			<div class="input_wrap">
				<input type="number" class="user2_input"></input>
				<div class="user2_submit" id="user2_submit_1">x1</div>
				<div class="user2_submit" id="user2_submit_2">x2</div>
				<div class="user2_submit" id="user2_submit_3">x3</div>
			</div>
		</div>
	</div>
	<div class="end">
		<div class="end_wrap">
			<p>Game Over!</p>
			<p>Winner: <span id="winner"></span></p>
			<div class="play_again">Play Again</div>
		</div>
	</div>
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>