@charset "utf-8";

body{
    margin: 0;
    min-height: 100vh;
    font-family: Arial
}
p{
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
li{
    list-style: none;
}
::-webkit-scrollbar{
    width: 0px;
}

#data_card_1, #name_card_1, #history_card_1, .user1_board p{
    background-color: firebrick;
    color: white;
}
#data_card_2, #name_card_2, #history_card_2, .user2_board p{
    background-color: forestgreen;
    color: white;
}
.user1_sum, .user1_board li{
    color: firebrick;
}
.user2_sum, .user2_board li{
    color: forestgreen;
}
.user1_sum{
    border-right: 2px solid firebrick;
}
.user2_sum{
    border-right: 2px solid forestgreen;
}
.board, .round, .user1_input, .user2_input, .user1_submit, .user2_submit{
    background-color: linen;
}
.board, .round, .user1_input, .user2_input, .user1_submit, .user2_submit, .play_again{
    border-radius: 20px;
    box-shadow: 2px 2px 2px grey;
}
#name_card_1, #data_card_1, #history_card_1{
    border-radius: 20px;
    box-shadow: 2px 2px 4px #660000;
}
#name_card_2, #data_card_2, #history_card_2{
    border-radius: 20px;
    box-shadow: 2px 2px 4px #38471f;
}

.name_card:hover, .data_card:hover, .board:hover, .round:hover, .user1_input:hover, .user2_input:hover{
    transform: scale(1.015);
}
.history_card:hover{
    transform: scale(1.01);
}
.user1_submit:hover, .user2_submit:hover{
    transform: scale(1.1);
}
.name_card, .data_card, .history_card, .board, .round, .user1_input, .user2_input, .user1_submit, .user2_submit{
    transition: all 0.1s ease-in-out;
}

.board{
    position: absolute;
    left: 20px;
    top: 20px;
    width: 442px;
    height: 100px;
    border-radius: 20px;
    padding: 0 10px;
}
.board_wrap{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.user1_board, .user2_board{
    width: 100%;
    height: 36px;
    line-height: 36px;
    font-size: 24px;
    border-radius: 20px;
    display: flex;
    text-align: center;
}
.user1_board p, .user2_board p{
    width: 120px;
    border-radius: 20px;
}
.user1_board ul li, .user2_board ul li{
    float: left;
    width: 80px;
}
.user1_sum, .user2_sum{
    width: 80px;
}

.round{
    position: absolute;
    right: 20px;
    top: 20px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 0 10px;
}
.round p{
    font-size: 60px;
    margin: 0;
    text-align: center;
    line-height: 100px;
}

.wrapper{
    display: flex;
}
.panel{
    height: 100vh;
    width: 50vw;
    min-height: 600px;
    min-width: 620px;
    display: flex;
    flex-direction: column;
}
#panel_1{
    background-color: burlywood;
}
#panel_2{
    background-color: burlywood;
}
.main_wrap{
    height: 86%;
    display: flex;
}
.input_wrap{
    height: 14%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.left_panel{
    margin-top: 120px;
    width: 60%;
    min-width: 360px;
    display: flex;
    flex-direction: column;
}

.name_card{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    padding: 10px 20px;
}
.data_card{
    height: 60%;
    margin: 20px;
    margin-top: 0;
    padding: 10px 20px;
    font-size: 20px;
    line-height: 24px;
    overflow-y: auto;
}
.history_card{
    width: 40%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    margin: 140px 20px 20px 0;
    text-align: center;
    font-size: 24px;
    padding: 10px 20px;
    line-height: 30px;
}

.user_name{
    font-size: 32px;
    line-height: 32px;
}
.score_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.user1_score, .user2_score{
    position: relative;
}
.user1_score p, .user2_score p{
    font-size: 120px;
    line-height: 120px;
}
.user1_minus, .user2_minus{
    display: none;
    position: absolute;
    font-size: 60px;
    color: white;
    right: -60px;
    top: -70px;
}

.label{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid white;
    padding-bottom: 4px;
}
.scroll{
    display: flex;
    overflow-y: auto;
    margin-top: 4px;
}

.user1_his_round, .user2_his_round, .user1_his_score, .user2_his_score{
    width: 50%;
}
.user1_his_round ul, .user2_his_round ul, .user1_his_score ul, .user2_his_score ul{
    text-align: center;
}

.user1_input, .user2_input, .user1_submit, .user2_submit{
    text-align: center;
    border: 0px;
    font-size: 30px;
    outline: none;
}
.user1_input, .user2_input{
    padding: 10px 40px;
    width: 200px;
    line-height: 30px;
}
.user1_submit, .user2_submit{
    padding: 10px 20px;
    margin-left: 16px;
    line-height: 34px;
    cursor: pointer;
}

.end{
    display: none;
    border-radius: 20px;
    width: 500px;
    height: 300px;
    background-color: white;
    box-shadow: 0 0 0 1920px rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 32px;
}
.end_wrap{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}
.play_again{
    text-align: center;
    color: white;
    width: 200px;
    padding: 10px 40px;
    cursor: pointer;
}
